$pink: #ffcbcb;
$accent-color:#ffcbcb ;
$red: #ed1c00;
$hover: #830f00;

#mainContent {
  min-height: 80vh;
  padding-top: 20px;
}
/*
  AppBar
*/

p {
  font-size: small;
}
body {
  font-family: inter, arial;
  font-size: small;
 }
.app-bar {
  padding: 8px 16px;
  background-color: white;
  display: flex;
  justify-content:space-between;
  gap: 5px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color:$red;
  text-transform: uppercase;
  font-size: 16px;
  user-select: none;
}
#loginBNuttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.app-bar .app-bar__navigation {
  display: flex;
  justify-content: start;
  position: absolute;
  top: 50px;
  left: -100%;
  width: 100%;
  transition: all 0.3s;
  padding: 8px 15px;
  background-color: white;
  overflow: hidden;
  z-index: 0;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}

#message {
  padding: 10px;
  text-align: center;
}
 
.app-bar .app-bar__navigation > ul > li {

  list-style: none;
  a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 14px 2px;
  margin-bottom: 5px;
  width: 100%;
}
}
  /* Styling untuk hero section */
#hero {
  margin-top: -20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #f2f2f2; /* Ubah warna latar sesuai kebutuhan */
}

#gambarhero {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  justify-content:  center;
  align-items: center;
}

#hero-text {
  width: 60%;
  text-align: left;
  padding: 0 20px;
  justify-content: center;
}

#hero-text h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: #333; /* Ubah warna teks sesuai kebutuhan */
}

#hero-text p {
  font-size: 1.2em;
  color: #666; /* Ubah warna teks sesuai kebutuhan */
}

#hero-text button {
  padding: 10px 20px;
  background-color: $red; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.buttons { 
  list-style: none;
  text-decoration: none;
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #db0000; /* Warna latar belakang tombol */
  color: #fff; /* Warna teks tombol */
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
}
.buttons:hover {
  background-color: $hover;
}
#hero-text button:hover {
  background-color: $hover; /* Warna latar belakang tombol saat dihover */
}

#hero-image {
  width: 100%;
  max-width: 400px; /* Atur lebar maksimum gambar */
  display: block;
}

#img-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* Main Container Styles */
#login-container {
  margin-top: -70px;
 display: flex;
 flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Login Image Section Styles */
.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Login Form Section Styles */
.section-form {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: start;
}

#login-form h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#login-form label {
  font-weight: bold;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#login-form input[type="submit"],
#login-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: $red;
  text-decoration: none;
}

#login-form input[type="submit"]:hover,
#login-form button:hover {
  background-color: $red;
}
/* Main Container Styles */
#register-container {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register Image Section Styles */
.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#register-image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

/* Registration Form Section Styles */
#registration-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;  
  h2 {
   margin-bottom: 20px;
   font-size: 1.5rem;
}
p {
  a {
    cursor: pointer;
  }
}
}

#registration-form label {
  font-weight: bold;
}

#registration-form input[type="text"],
#registration-form input[type="password"],
#registration-form select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#registration-form input[type="submit"],
#registration-form button {
  margin: 2px 0;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: $red;
  text-decoration: none;
}

#registration-form input[type="submit"]:hover,
#registration-form button:hover {
  background-color:$hover;
}

  // content

  .poster {
    img {
      width: 180px;
    }
  }

  #new-event {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 20px;
   button:hover {
    background-color: $hover;
  }
  button {
  background-color:$red;
  min-height: 44px;
  min-width: 44px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  }
}
  
  .event-container {
    display: flex;
    flex-direction: row ;
    gap: 20px;
  }
  #show-event {
    min-height: 50vh;
    margin: 0 5%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr); gap: 20px;
    font-size: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  #profile-event {
    display: grid;
    grid-template-columns: repeat(2 , 1fr); gap: 20px;
    width: 100%;
    font-size: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  

  .event-wrapper {
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: start;
    gap: 20px;
  }

  .card-event, .card {

      padding: 20px; /* Padding 20px */
      border: 1px solid #ddd; /* Border 1px solid dan warna abu-abu */
      border-radius: 8px; /* Border radius 8px */
      background-color: #fff; /* Warna latar belakang putih */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow halus */
  }
  .event-info {
    ul 
    {list-style: none;
    }
  }
  .event-info {
    table {
      font-size: smaller;
      background-color: #ebebeb;
       tr:nth-child(even) td {
        background-color: #ffffff;
      }
      
    }
  }
/* Styling untuk container "Syarat donor darah" */
#syarat-donor {
  margin-top: 20px;
  text-align: center; /* Memusatkan konten secara horizontal */
  padding: 50px 20px; /* Padding atas dan bawah 50px, samping 20px */
  background-color: #f0f0f0; /* Warna latar belakang */
}

/* Styling untuk judul "Syarat donor darah" */
#syarat-donor h2 {
  margin-bottom: 30px; /* Margin bawah 30px untuk memberi jarak dengan konten lain */
  color: #333; /* Warna teks */
}

/* Styling untuk container setiap syarat */
.syarat-container {
  display: flex;
  justify-content: center; /* Memusatkan konten secara horizontal */
  gap: 20px; /* Jarak antara setiap card syarat */
}
/* Styling untuk container setiap syarat */
.syarat-container {
  display: flex;
  justify-content: center; /* Memusatkan konten secara horizontal */
  gap: 20px; /* Jarak antara setiap card syarat */
  flex-wrap: wrap;
}

/* Styling untuk setiap card syarat */
.syarat-card {
  margin:  0 5%;
  padding: 20px; /* Padding 20px */
  border: 1px solid #ddd; /* Border 1px solid dan warna abu-abu */
  border-radius: 8px; /* Border radius 8px */
  background-color: #fff; /* Warna latar belakang putih */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow halus */
  text-align: left; /* Memastikan teks berada di sebelah kiri */
  width: 300px; /* Lebar card syarat */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efek transisi */
}

/* Efek hover pada card syarat */
.syarat-card:hover {
  transform: translateY(-5px); /* Mengangkat card sedikit ke atas saat dihover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Shadow yang lebih kuat saat dihover */
}

/* Styling untuk judul setiap card syarat */
.syarat-card h4 {
  margin-bottom: 15px; /* Margin bawah 15px */
  color: #333; /* Warna teks */
}

/* Styling untuk konten setiap card syarat */
.syarat-card p {
  color: #666; /* Warna teks sedikit lebih gelap */
}
/* Styling untuk container keuntungan donor */
#keuntungan-donor {
  padding: 20px;
  background-color: #ffffff;
}

/* Styling untuk judul "Keuntungan Donor Darah" */
#keuntungan-donor h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

/* Styling untuk container gambar dan informasi keuntungan */
.keuntungan-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

/* Styling untuk gambar keuntungan */
.keuntungan-container img {
  max-width: 300px;
  height: auto;
}

/* Styling untuk informasi keuntungan */
.keuntungan-info {
  max-width: 600px;
  ul {
    list-style: none;
    text-align: justify;
  }
}

/* Styling untuk judul setiap keuntungan */
.keuntungan-info h4 {
  margin-bottom: 10px;
  color: #333;
}

/* Styling untuk konten setiap keuntungan */
.keuntungan-info p {
  color: #666;
  margin-bottom: 20px;
}

/* Desain responsif untuk keuntungan donor */
@media screen and (max-width: 768px) {
  #keuntungan-donor {
    padding: 15px;
  }

  .keuntungan-container {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .keuntungan-container img {
    max-width: 100%;
  }

  .keuntungan-info {
    max-width: 100%;
  }
}

/* CSS untuk form login */
#login-form {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  p {
    a {
      cursor: pointer;
    }
  }
}

#login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

#login-form label,
#login-form input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: $red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#login-form input[type="submit"]:hover {
  background-color: $red;
}

  /* CSS untuk tombol dropdown dan kontennya */
/* ... (CSS lainnya) */

/* Tombol dropdown */
#dropdownContainer {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);;
}

.dropbtn {
  background-color: white;
  border: none;
  cursor: pointer;

}
.sidenav button.active {
  background-color: red; /* Atur warna merah yang diinginkan */
  /* Tambahkan gaya tambahan sesuai kebutuhan */
}
/* Gaya untuk link yang aktif */
.app-bar__navigation > ul > li > a.active {
  color: red; /* Atur warna merah untuk link yang aktif */
  /* Gaya lain yang diinginkan untuk link yang aktif */
}
.app-bar__navigation > ul > li > a:hover {
  color: red; /* Atur warna merah untuk link yang aktif */
  /* Gaya lain yang diinginkan untuk link yang aktif */
}
#profile-title{
  padding: 20px;
  text-align: center;
}
/* Isi dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Tampilkan isi dropdown saat tombol diklik */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Tambahkan gaya untuk link di dalam dropdown */
.dropdown-content a {
  padding-left: 100px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Gaya saat link di dalam dropdown dihover */
.dropdown-content a:hover {
  background-color: $pink;
} 

.table-container {
  display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 20px;
 margin: 0 5%;
 padding: 10px 0px;
}

/* Gaya untuk tabel pertama */
.blood-stock-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.blood-stock-table th {
  background-color: #f2f2f2;
  padding: 12px 8px;
  border: 1px solid #ddd;
}

.blood-stock-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.blood-stock-table tr:nth-child(odd) {
  background-color: #ebebeb;
}
.blood-stock-table tr:first-child {
  background-color: $pink;
}
/* Gaya untuk tabel kedua */
.user-details-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: Arial, sans-serif;
}

.user-details-table th {
  background-color: #f2f2f2;
  padding: 12px 8px;
  border: 1px solid #ddd;
}

.user-details-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.user-details-table tr:nth-child(odd) {
  background-color: #ebebeb;
}

#blood-stock {
  margin: 0 4rem;
  min-height: 50vh;
}
/* Gaya umum untuk tombol paginasi */
#pagination-buttons {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 20px;
}

#pagination-buttons button {
  padding: 8px 16px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
  background-color: $red;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#pagination-buttons button:hover {
  background-color: $hover;
}

/* Gaya tombol halaman aktif */
#pagination-buttons .active {
  background-color: $red;
}
/* Gaya umum untuk dropdown */
#province-dropdown {
  width: max 500px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 12 6"><path d="M6 5.5L0.499999 0H11.5L6 5.5Z" fill="%23707070"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 8px 6px;
}

/* Gaya saat dropdown aktif */
#province-dropdown:focus {
  outline: none;
  border-color: $red;
}

/* Gaya saat dropdown dihover */
#province-dropdown:hover {
  border-color: $pink;
}
#menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* Container styling */
#about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Section titles */
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333;
}

/* Section content */

.aboutUs,
.tujuan {
  background-color: $pink;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

/* Team section */
.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.icon:hover {
  transform: translateY(-5px);
  background-color: $pink;
}

.fa-user-circle {
  font-size: 4rem;
  color: #8e8e8e;
  margin-bottom: 10px;
}


 /* Basic styling for the form container */
#create-register-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Style for form labels */
#register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for form inputs */
#register-form input[type="text"],
#register-form input[type="number"],
#register-form input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

/* Style for the submit button */
#register-form button[type="submit"] {
  background-color: $red;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#register-form button[type="submit"]:hover {
  background-color: $hover;
}
// Container styling
#create-stock {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  // Table styling
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;

    &.stock-table {
      th, td {
        padding: 8px;
        border: 1px solid #ccc;
      }

      th {
        background-color: #f0f0f0;
        font-weight: bold;
      }
    }

    &.user-info {
      th, td {
        padding: 8px;
        border: 1px solid #ccc;
      }
    }
  }

  // Input field styling
  input[type="number"],
  input[type="text"],
  input[type="submit"] {
    width: calc(100% - 20px); // Adjust width as needed
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    background-color: $red;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover;
    }
  }
}

/* Profile container */
#profile-container {
  display: flex;
align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Side navigation */
.sidenav {
  margin-top: -10px;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
 display: flex;
 align-items: end;
 gap: 20px;
}

/* Style buttons in the side navigation */
.sidenav button {
  display: block;
  width: 20%;
  padding: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 3px;
  background-color: #ddd;
  cursor: pointer;
}
.sidenav button:hover {
background-color: $red;
}

/* Main content */
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Profile user greeting */
#profile-user {
text-align: start;
padding: 20px;
margin-top: 50px;
}

/* User Image Styles */
.img-user {
  margin-right: 20px;
}

.img-user i {
  color: #828282; /* Change color as needed */
}

/* Text Container Styles */
#text-container {
  display: flex;
  flex-direction: row;
}

#text-container h3 {
  margin-bottom: 10px;
  font-size: 1rem;
}
/* Style create event and stock buttons */
#create-event-container,
#create-stock-container {
  margin-top: 20px;
}

#create-btn,
#create-btn-stock,
#update-btn-stock {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  background-color: $red;
  color: white;
  cursor: pointer;
}

#create-btn:hover,
#create-btn-stock:hover,
#update-btn-stock:hover {
  background-color: $hover;
}
.fa-solid, .fa-circle-user  {
  font-size: 2em;
}

  #create-event {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    #create-form{
      display:  flex;
    }
    #create-form input[type="text"],
    #create-form input[type="date"],
    #create-form input[type="number"],
    #create-form input[type="submit"] {
      display: block;
      margin-bottom: 15px;
      width: 100%;
      box-sizing: border-box;
    }

    #create-form label {
      font-weight: bold;
    }

    #create-form input[type="text"],
    #create-form input[type="date"],
    #create-form input[type="number"] {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    #create-form input[type="submit"] {
      background-color: $red;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    #create-form input[type="submit"]:hover {
      background-color: $hover;
    }
    
    #create-container {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #create-event {
     width: 60%;
    }

    #create-form {
      display: grid;
      grid-template-columns: repeat(2,1);
    }
    #create-form label,
    #create-form input[type="text"],
    #create-form input[type="date"],
    #create-form input[type="number"],
    #create-form input[type="submit"] {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    #create-form label {
      font-weight: bold;
    }

    #create-form input[type="text"],
    #create-form input[type="date"],
    #create-form input[type="number"] {
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    #create-form input[type="submit"] {
      background-color: $red;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.3s ease;
    }

    #create-form input[type="submit"]:hover {
      background-color: $hover;
    }

    #dropdown-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 50px;
    }

    /* Footer Styles */
footer {
  background-color: $red;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}

footer p {
  margin-bottom: 10px;
}

footer a {
  color: #ffae00;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal {
  display: none; /* Modal defaultnya tersembunyi */
  position: fixed; /* Modal ditempatkan secara tetap (terkunci) */
  z-index: 1; /* Jaminan modal berada di atas konten lain */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Aktifkan scrolling jika diperlukan */
  background-color: rgba(0, 0, 0, 0.4); /* Warna latar belakang semi-transparan */
}

/* Konten modal */
.modal-content {
  p {
    padding: 20px 0;
  }
  border-radius: 20px;
  background-color: #fefefe;
  margin: 20% auto; /* Atur jarak atas dan bawah sesuai kebutuhan */
  padding: 40px;
  border: 1px solid #888;
  width: 300px; /* Atur lebar sesuai kebutuhan */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Tombol close di sudut kanan atas */
.close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
}


.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Tombol Ya dan Tidak */
#confirmLogout {
  background-color: #00bd32;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
#cancelLogout {
  background-color: $red;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

#confirmLogout:hover {
background-color: #009728;
}
#cancelLogout:hover {
  background-color: $hover;
}

.account-container {
  width: 200px;
  padding: 20px; /* Padding 20px */
  border: 1px solid #ddd; /* Border 1px solid dan warna abu-abu */
  border-radius: 8px; /* Border radius 8px */
  background-color: #fff; /* Warna latar belakang putih */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow halus */
  height: 200px;
  overflow: scroll;
}
